agraffe==0.7.0
fastapi==0.103.1
google-cloud-firestore==2.16.0
google-cloud-secret-manager==2.20.0   
google-cloud-storage==2.16.0
pydantic==2.7.0
pytz==2024.1
openai==1.23.1
Pillow==10.3.0
requests==2.31.0

# uvicorn==0.29.0
# pyyaml==6.0.1